@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body{
  width: 100%;
  height:2000px;
  font-family:Arial;
  margin:0;
}

.nav-bar{
  width:1436px;
  height:40px;
}
#itm1{
	width:25%;
	height:40px;
	float:right;
	background-color:#424242;
  text-align:center;
  color:white;
  transition-duration: 222ms;
  font-size:20px;
  font-family: 'Titillium Web', sans-serif;
}
#itm2{
	width:25%;
	height:40px;
	float:right;
	background-color:#424242;
  text-align:center;
  color:white;
  font-size:20px;
  font-family: 'Titillium Web', sans-serif;
  transition-duration: 222ms;
}
#itm3{
  width:25%;
  height:40px;
  float:right;
  background-color:#424242;
  text-align:center;
  color:white;
  font-size:20px;
  font-family: 'Titillium Web', sans-serif;
  transition-duration: 222ms;
}
#itm0{
  width:25%;
  height:40px;
  float:right;
  background-color:#424242;
  text-align:center;
  color:white;
  font-size:20px;
  font-family: 'Titillium Web', sans-serif;
  transition-duration: 222ms;
}
.btn a,
#itm3 a,
#itm2 a,
#itm1 a,
#itm0 a{
  color: inherit;
  text-decoration: none;
}
#itm1:hover{
  background-color:#E6E6E6;
  color:#424242;
}
#itm2:hover{
  background-color:#E6E6E6;
  color:#424242;
}
#itm3:hover{
  background-color:#E6E6E6;
  color:#424242;
}
#itm0:hover{
  background-color:#E6E6E6;
  color:#424242;
}

.text-top{
  float:left;
  color:white;
  font-size:42px;
  font-family: 'Quicksand', sans-serif;
  width:1436px;
  height:659px;
  background-color: #585858;
  text-align: center;
  padding-top:71px;
}

  /*----------> Scroll ideicator <----------- */

.box{
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box span {
display: block;
width: 20px;
height: 20px;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
transform: rotate(45deg);
margin: -10px;
animation: animate 2s infinite;
}

.box span:nth-child(1){
    animation-delay: -0.2s;
}
.box span:nth-child(2){
    animation-delay: -0.4s;
}
 @@keyframes animate {
    0%
   {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

/*---------------beginning Page#2---------------*/
.page-2{
background-color: #E6E6E6;
height: 100%;
width: 1436px;
margin:0;

}
#text-1{
height: 292px;
padding-top:32px;
float: right;
font-style: Arial;
font-size: 17px;


}

#text-2{
height: 292px;
padding-top: 72px;
padding-left: 9px;
float:left;
font-style: Arial;
font-size: 17px;

}
